body {
    position: relative;
}

#pricing-container {
    margin-top: 1rem;
    padding: 2rem;
}

.modal {
    width: 50%;
    height: 50%;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%);
    background-color: #ffff;
    display: none;
}

.modal-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
}


.modal-content input {
    padding: 5px;
    border-radius: 5px;
}

#order-comments {
    padding: 5px;
    border-radius: 5px;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}

.close {
    display: flex;
    justify-content: flex-end;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: none;
}

.slider-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.display-price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.highlight-btn {
    background-color: rgb(0, 95, 197);
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
    transition: background-color 0.3s ease-in-out;
}

#slider {
    width: 50%;
}
#selected-price {
    font-weight: 200;
}

@media screen and (min-width: 768px) {
    
    #pricing-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}