body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f3eded;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

#product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  max-width: 1500px;
  padding: 3rem;
}

.product-card {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  border-radius: 1rem;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.1);
}

.product-card img {
  
  border-radius: 1rem;
  object-fit: cover;
}

.product-title {
  font-size: 1.2rem;
  margin-top: 10px;
  padding: 1rem;
  font-weight: 100;
}

.product-price {
  margin-top: 1rem;
  color: #e74c3c;
  font-weight: bold;
  font-size: 1.2em;
}

.product-rating {
  margin-top: 10px;
  color: #f39c12; /* Change this to your desired rating color */
}

#loading-msg {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  display: none;
}
